* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.form {
  display: flex;
  background: #f1f1f1;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.formField {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  color: rgb(212, 27, 27);
  font-size: 1.2rem;
  padding: .5rem 1rem;
  width: 80%;
}

.formField:focus {
  border-color: #a3f7ff;
  box-shadow: 0 0 7px #a3f7ff;
  outline: none;
}

.list {
  margin: 0;
  padding: 1rem;
}

.list__item {
  list-style: none;
}

.list__item.list__item--mine {
  text-align: right;
}

.message {
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  list-style: none;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

.message.green {
  background: #8edf6e;
  border-color: #82be27;
  text-align: right;
}

.message.blue {
  background: #68cef7;
  border-color: #1abeff;
}

.message.yellow {
  background: rgb(231, 229, 102);
  border-color: rgb(226, 226, 153);
}

.message.red {
  background: rgb(243, 89, 89);
  border-color: rgb(190, 101, 101);
}

.message.other {
  background: rgb(209, 209, 209);
  border-color: rgb(228, 228, 228);
}